/*===================================================
Fonts
===================================================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');



/*===================================================
Base styles
===================================================*/

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #12718d;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h3 {
    color: #12718d;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

h5 {
    font-size: 18px;
    font-weight: 700;
}

p {
    color: #2d2d2d;
    font-size: 1em;
    font-weight: 400;
    line-height: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.caption {
    font-size: 14px;
    font-weight: 300;
}

.logo {
    width: 120px;
}



/*===================================================
Top navigation bar
===================================================*/

.topnav {
	background-color: #2d2d2d;
    box-shadow: 0 1px 4px rgba(0,0,0,.25);
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.topnav a {
    padding: 15px 20px;
}
  
.topnav .topnav-items a,
.topnav .icon {
    color: #f2f2f2;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15em;
    font-weight: 700;
    padding: 25px 15px 15px 15px;
	text-align: center;
	text-decoration: none;
}

.topnav a {
    float: left;
}

.topnav-items {
	float: right;
}

.topnav a img {
    float: left;
}

.topnav .icon {
	display: none;
}




/*===================================================
Main content
===================================================*/

.main-content {
    margin-top: 105px;
    text-align: center;
}

input[type=search] {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    color: #aaa;
    display: block;
    font-size: 1em;
    font-weight: 300;
    height: 40px;
    margin: 35px auto;
    padding: 5px;
    width: 85%;
}



/*===================================================
Featured events
===================================================*/

.featured-events h3 {
    text-align: center;
    margin-bottom: 35px;
}

.event-flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
}

.event-flex-item {
    margin-bottom: 35px;
}

.event-flex-item img {
    width: 100%;
}

.event-details {
    background-color: rgba(45, 45, 45, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: absolute;
    margin-top: -60px;
    width: 100%;
    z-index: 100;
}

.event-details h5 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
}

.event-details div {
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-right: 10px;
    height: 35px;
    width: 35px;
}

.event-details p {
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}



/*===================================================
Primary button
===================================================*/

.primary-btn {
    background-color: #12718d;
    border: none;
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 500;
    margin: 0 auto 35px auto;
    text-align: center;
    text-transform: uppercase;
}

.primary-btn:hover {
    background-color: #7db1c0;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.large {
    height: 40px;
    width: 200px;
}



/*===================================================
Newsletter ad
===================================================*/

.newsletter-ad {
    background: #2d2d2d url(../assets/images/newsletter-bg.png) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    margin-bottom: 35px;
}

.newsletter-ad div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
}

.newsletter-ad h5 {
    color: #fff;
    text-align: center;
    padding: 25px 0;
}

.newsletter-ad p {
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
}



/*===================================================
Footer
===================================================*/

footer {
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

.fa-facebook-f {
    color: #fff;
}

footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    width: 80%;
    max-width: 800px;
}

footer ul li {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    margin: 0 5px;
}

footer ul li:nth-child(-n+4) {
    margin-bottom: 20px;
}